<section class="container" ng-controller='HomeCtrl as home'>

  <div class="header">
    <h1>{{activeRoom.$value | uppercase}}</h1>
  </div>

  <ul class="message-wrap" ng-repeat='m in messages'>

    <li class="message-info">

        <span class="timestamp">{{ m.sentAt | date:'short' }}</span>

      <p class="message">{{m.content}}</p>
      <h4 class="username">{{m.user}}</h4>
    </li>
  </ul>


    <form class="message-form" >

      <div class="input-group">
        <input type="text" class="form-control"  placeholder="Type a message...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Send</button>
        </span>
      </div>

    </form>
</section>
